<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/src/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true"
  pathCoverage="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="coverage/clover.xml"/>
      <html outputDirectory="coverage/html"/>
      <text outputFile="coverage/coverage.txt"/>
    </report>
  </coverage>
</phpunit>
