{#
/**
 * @file
 * Default theme implementation for WissKI Trails iframe.
 *
 * Available variables:
 * - iframe_url: The URL for the iframe source.
 * - entity_id: The entity ID.
 *
 * @ingroup themeable
 */
#}
{% if should_display %}
<iframe src="{{ iframe_url }}" class="wisski-trails-iframe" data-entity-id="{{ entity_id }}"></iframe>
{% else %}
<span style="font-size: 0.9rem;">Error loading the visualisation</span>
{% endif %}